tika==1.24
regex==2021.8.3
numpy==1.17.4
fitz==0.0.1.dev2
transformers==4.9.2
reportlab==3.5.34
streamlit==0.89.0
newspaper3k==0.2.8
plotly==5.3.1
nltk==3.6.2
opml==0.5
torch==1.9.0
feedparser==6.0.8
requests==2.22.0
sentence_transformers==2.0.0
EbookLib==0.17.1
pandas==1.3.3
beautifulsoup4==4.10.0
newspaper==0.1.0.7
python_dateutil==2.8.2
